Pods/

EmpireMobileApp\.xcodeproj/xcuserdata/rodrigonunes\.xcuserdatad/xcschemes/xcschememanagement\.plist

EmpireMobileApp\.xcworkspace/xcuserdata/rodrigonunes\.xcuserdatad/xcdebugger/Breakpoints_v2\.xcbkptlist
